/* ========================================================== */
/* Form Styling */
/* ========================================================== */

.form-container
{
    height: 100%;
    border: none;
    border-radius: 5px;

    padding: 0 5px;

    align-content: center;

    background-color: $color-secondary;

    box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

fieldset
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    border: none;

    @media screen and ((min-width: 750px) or (orientation:landscape))
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.form-email,
.form-sbmt,
.form-list,
.form-add
{
    display: flex;
    flex-wrap: wrap;

    margin: 4px auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    // max-width: 90vw;

    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 800;

    @media screen and ((min-width: 750px) or (orientation:landscape))
    {
        margin: 4px auto;
    }
}

.form-list
{
    margin: 15px auto 15px;
}

.form-add
{
    flex-direction: column;
    width: 80%;

    div
    {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        
        width: 100%;
    }
}

input[type="email"]
{
    width: 100%;

    @media screen and ((min-width: 750px) or (orientation:landscape))
    {
        width: 200px;
    }

    @media screen and (min-width: 1300px)
    {
        width: 300px;
    }
}

button,
select
{
    min-width: 100px;
    max-width: 90vw;
    height: auto;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: 1000;

    background-color: rgb(223, 233, 233);

    border: none;
    border-radius: 8px;

    text-align: center;
    padding: 1px 15px;

    &:hover
    {
        cursor: pointer;
        background-color: rgb(138, 150, 150);
    }
}

.image-generate
{
    button
    {
        @media screen and ((min-width: 162px) or (orientation:landscape))
        {
            margin: auto;
        }
    }
}

select
{
    font-size: 1.25rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    overflow-wrap: anywhere;

    transition: all 0.1s ease;
}

select.open
{
    transition: none;
    border-radius: 8px 8px 0 0;
}