body
{
    background-color: rgb(152, 173, 159);
}

#GeneratedImage-Container
{
    max-width: 700px;
    width: 100%;
    min-height: 200px;
    margin: auto;

    img
    {
        width: 100%;
        height: auto;
    }

    @media screen and ((min-width: 750px) or (orientation:landscape))
    {
        width: 60%;
    }

    @media screen and (min-width: 750px)
    {
        min-height: 500px;
    }
}

.generatedImages-Collection
{
    display: grid;
    grid-template-columns: 1fr;

    img
    {
        width: 100%;
        height: auto;
    }

    @media screen and ((min-width: 750px) or (orientation:landscape))
    {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1300px)
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}